*.bak
*.BAK
*~
Build
MANIFEST
META.yml
_build/*
blib/*
*.tar.gz
cover_db/*
*.tmp
t/*.db
Makefile
pm_to_blib
MYMETA.json
MYMETA.yml
log/*
script/gitprep-shell
script/hypnotoad.pid
extlib/*
gitprep.conf
gitprep.my.conf
data/*
setup/latest-build
setup/work/*
setup/build.log
xt/user/*
xt/import_rep/*
xt/smart_http/*
xt/basic/rep/kimoto/*
xt/basic/work/*
!.gitkeep
