*.bak
*.BAK
Build
MANIFEST
META.yml
_build/*
blib/*
*.tar.gz
cover_db/*
*.tmp
t/*.db
Makefile
pm_to_blib
MYMETA.json
MYMETA.yml
log/*
!log/.gitignore
script/hypnotoad.pid
!public/.gitignore
script/hypnotoad.pid
extlib/*
gitprep.my.conf
data/rep/*
data/gitprep.db
!data/rep/.gitignore
setup/log/*
!setup/log/.gitignore
setup/latest-build
setup/work/*
setup/build.log
xt/admin.db
xt/admin
xt/user.db
xt/user
xt/log
