*.bak
*.BAK
Build
MANIFEST
META.yml
_build/*
blib/*
*.tar.gz
cover_db/*
*.tmp
t/*.db
Makefile
pm_to_blib
MYMETA.json
MYMETA.yml
gitweb.development.conf
gitweblite.conf
log/*
!log/.gitignore
script/hypnotoad.pid
!public/.gitignore
script/hypnotoad.pid
winstart.pid
user/public/*
!user/public/.gitignore
user/templates/*
!user/templates/.gitignore
