;;; GitPrep configuration file

[basic]
;;; A secret passphrase to randomize several things.
;;; It is recommended to set it to your own choice.
; secret=PleaseChangeMe!

;;; SSH port (default: 22)
;;; This value is used by ssh git repository URL.
; ssh_port=55555

;;; SSH repository url base
;;; For exampke, If you set this value to /~/git, SSH repository url become
;;; ssh://kimoto@59.106.185.196/~/git/kimoto/gitprep.git
;;; ~ is expaned to user home directory automatically
; ssh_rep_url_base=/~/git

;;; Use scp-like pseudo-urls rather than true SSH urls when possible.
;;; This generally generates shorter urls as they have no scheme and can be
;;; relative to the git user home directory.
scp_url=1

;;; SSH user for git URLs (default: user running server)
; ssh_user=mygit

;;; Git command path
;;; By default, git command path is automatically detected
;;; from PATH enviroment variable or /usr/bin/git or /usr/local/bin/git
; git_bin=/usr/local/bin/git

;;; Tags limit (default:1000)
; tags_limit=1000

;;; authorized_keys file for public key authentication via ssh.
;;; default is "$ENV{HOME}/.ssh/authorized_keys"
; authorized_keys_file=/home/gitprep/.ssh/authorized_keys

;;; hide all repositories until user logs in (default: 0)
; hide_from_public=1
;;; show emails in the public user profile; default is don't show
show_emails=1

;;; log files
; mojo_log_file_path=/home/gitgui/gitprep/log/production.log
; access_log_file_path=/home/gitgui/gitprep/log/access.log

[templates]
;;; put here custom templates overriding the defaults provided by gitprep; requires full path
; custom_template_folder=/home/gitprep/gitprep/templates_custom

[admin]
;;; If you forget admin password,
;;; set this value to 1 and access /reset-password page.
;;; Forget to comment out after resetting password.
; reset_password=1

[hypnotoad]
;;; Listen URL (default: http://*:10020)
; listen=http://127.0.0.1:10020,\
; https://127.0.0.1:10443?cert=/path/to/servercert.crt&\
; key=/path/to/servercert.key&\
; ca=/path/to/ca-bundle.crt
listen=http://127.0.0.1:10020

[reverse_proxy]
;;; Reverse proxy support (default: 0)
; on=1

;;; Reverse proxy path depth (default: none)
;;; If proxy path is http://somehost.com/foo, you set path_depth to 1.
;;; If proxy path is http://somehost.com/foo/bar, you set path_depth to 2.
; path_depth=1
; path_depth=2

[mail]
;;; Notifications by e-mail.
;;; "From" address of e-mails sent. Should not accept incoming mails.
;;; Default is to disable notifications.
; from=no-reply@gitprep.org

;;; Dummy (i.e. no reply) visible recipient e-mail address.
;;; Default: "undisclosed-recipients:;".
; to=no-reply@gitprep.org

[sendmail]
;;; Sendmail program path (default: search in $PATH, /usr/sbin and /usr/lib).
; sendmail=/usr/local/bin/sendmail

[smtp]
;;; list of space-separated smtp server FQDNs.
; hosts=mail.gitprep.org

;;; listening port of the smtp server (default: 25).
; port=587

;;; Authentication user name.
; sasl_username=gitprep

;;; Authentication password.
; sasl_password=LetsOpenIt
